---
import LinkedInIcon from '@icons/social-media/LinkedIn.astro';
import GitHubIcon from '@icons/social-media/GitHub.astro';
import MediumIcon from '@icons/social-media/Medium.astro';
import MailIcon from '@icons/social-media/Mail.astro';
import ProjectIcon from '@icons/section-headings/Projects.astro';
import SkillIcon from '@icons/section-headings/Skills.astro';
import AboutMeIcon from '@icons/section-headings/AboutMe.astro';
import Layout from '../layouts/Layout.astro';
import SectionContainer from '../components/SectionContainer.astro';
import StatusBadge from '../components/StatusBadge.astro';
import SocialTag from '../components/SocialTag.astro';
import Projects from '../components/Projects-section/Projects.astro';
import Skills from '../components/Skills-section/Skills.astro';
import AboutMe from '../components/AboutMe/AboutMe.astro';
---

<Layout
  title="Victor Miñope porfolio - Desarrollador y Programador Web"
  description="Desarrollador web con más de 2 años de experiencia en el desarrollo de aplicaciones web. Creo en el poder transformador de la tecnología y me dedico a mejorar mis habilidades y convertirme en un activo valioso en el ámbito digital. Desde Lima, Perú."
>
  <main>
    <SectionContainer id="inicio" class="lg:pt-48">
      <img
        class="rounded-full size-36 md:size-48 flex justify-center items-center mx-auto md:block md:m-0"
        src="https://avatars.githubusercontent.com/u/110580299?v=4"
        alt="Victor Miñope"
      />
      <h1
        class="text-white text-center font-bold pb-10 text-3xl justify-center md:text-left md:text-5xl md:flex md:flex-row md:justify-start gap-4"
      >
        Bienvenido, soy Victor Miñope<a
          href="https://www.linkedin.com/in/victormc13/"
          target="_blank"
          class="flex justify-center items-center text-center"
          rel="noopener noreferrer"><StatusBadge>Disponibilidad inmediata</StatusBadge></a
        >
      </h1>
      <h2 class="text-wrap md:text-2xl">
        <span>+2 años de experiencia en </span><span class="text-blue-400"
          >Desarrollo web.
        </span><span
          >Me encanta solucionar problemas y crear aplicaciones destacables.
          <span class="text-red-400"
            >Desde Lima, P<span class="text-white">er</span>ú.
          </span><br />
          <span class="opacity-75"
            >Creo en el poder transformador de la tecnología, me dedico a
            mejorar mis habilidades y convertirme en un activo valioso en el
            ámbito digital.</span
          >
        </span>
      </h2>
      <nav
        class="flex flex-wrap justify-center gap-4 pt-10 max-w-md mt-10 mx-auto"
      >
        <SocialTag href="https://www.linkedin.com/in/victormc13/">
          <LinkedInIcon class="size-3 md:size-5" />
          LinkedIn
        </SocialTag>
        <SocialTag href="https://github.com/victormc13">
          <GitHubIcon class="size-3 md:size-5" />
          GitHub
        </SocialTag>
        <SocialTag href="https://medium.com/@victormc13">
          <MediumIcon class="size-3 md:size-5" />
          Medium
        </SocialTag>
        <SocialTag
          href="mailto:victor.vimc99@gmail.com?subject=Portfolio-Victor%20Miñope"
        >
          <MailIcon class="size-3 md:size-5" />
          Contáctame
        </SocialTag>
      </nav>
    </SectionContainer>
    <SectionContainer id="proyectos" class="md:mt-20">
      <h2 class="font-bold text-2xl flex items-center gap-x-2">
        <ProjectIcon class="size-12" />Mis proyectos
      </h2>
      <Projects />
    </SectionContainer>
    <SectionContainer id="habilidades">
      <h2 class="font-bold text-2xl flex items-center gap-x-2">
        <SkillIcon class="size-12" />Mis habilidades
      </h2>
      <Skills />
    </SectionContainer>
    <SectionContainer id="sobre-mí">
      <h2 class="font-bold text-2xl flex items-center gap-x-2">
        <AboutMeIcon class="size-12" />Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
