---
import VMover from '../../icons/vm-logo/VM-over.astro';
import VMseparated from '../../icons/vm-logo/VM-sidebyside.astro';
import Navbar from '../Header/Navbar/Navbar.astro';
import MenuHamburgerIcon from '../../icons/header/MenuHamburger.astro';
---

<header
  id="header"
  class="w-full h-20 md:h-24 flex justify-between items-center py-2 sm:justify-center md:p-0 fixed top-0 bg-transparent backdrop-blur-lg z-50 gap-2 md:gap-x-6 lg:gap-x-24 transition-shadow duration-700 border-[#097be6]/30"
>
  <a href="/" aria-label="Go to home page" class="w-1/3 md:w-1/4 flex justify-center">
    <VMover class="w-auto size-12 md:hidden" />
    <VMseparated class="w-full size-14 md:size-20 lg:size-24 xl:size-28 hidden md:block" />
  </a>
  <Navbar id="navbar-default" />
  <span class="w-1/3 md:w-1/4 flex justify-center">
    <button
      class="w-auto p-2 border-2 md:w-28 md:px-1 lg:text-nowrap md:py-3 lg:p-3 rounded-lg border-slate-400 hover:bg-blue-800"
      >Revisar CV</button
    >
  </span>

  <span class="md:hidden w-1/3 flex justify-center md:justify-end">
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="items-center p-2 h-10 justify-center text-sm text-white-500 rounded-lg hover:bg-blue-800 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
      aria-controls="navbar-default"
      aria-expanded="false"
      onclick="document.getElementById('navbar-default').classList.toggle('hidden');document.body.classList.add('no-scroll')"
    >
      <MenuHamburgerIcon />
    </button>
  </span>
</header>
<script>
  document.addEventListener('scroll', () => {
    const header = document.getElementById('header');
    const navbar = document.getElementById('navbar-default');
    if (window.scrollY > 50) {
      header?.classList.add('bg-gray-950/50');
      header?.classList.add('border-b-2');
      header?.classList.remove('bg-transparent');
      navbar?.classList.add('bg-transparent');
    } else {
      header?.classList.add('bg-transparent');
      header?.classList.remove('border-b-2');
      navbar?.classList.remove('bg-transparent');
    }
  });
</script>
