<header class="flex justify-between items-center py-2 sm:py-5 w-11/12 mx-auto">
  <img
    class="rounded-full lg:size-24 size-20"
    src="VM-logo.svg"
    alt="Victor Miñope photo"
  />

  <nav
    class="md:flex md:flex-wrap flex-row hidden justify-center gap-x-5 w-full sm:w-fit opacity-90 text-center"
    id="navbar-default"
  >
    <a href="/" class="flex justify-center items-center">Inicio</a>
    <a href="/skills" class="flex justify-center items-center">Habilidades</a>
    <a href="/projects" class="flex justify-center items-center">Proyectos</a>
    <a href="/about" class="flex justify-center items-center">Sobre mí</a>
    <a href="/contact" class="flex justify-center items-center">Contacto</a>
  </nav>

  <button
    data-collapse-toggle="navbar-default"
    type="button"
    class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-white-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
    aria-controls="navbar-default"
    aria-expanded="false"
    onclick="document.getElementById('navbar-default').classList.toggle('hidden')"
  >
    <svg
      class="w-5 h-5"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 17 14"
    >
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M1 1h15M1 7h15M1 13h15"></path>
    </svg>
  </button>
</header>
