<a
  {...Astro.props}
  target="_blank"
  class="rounded-full border border-white flex justify-center items-center gap-x-2 py-2 px-2 text-xs md:text-2xl"
  rel="noopener noreferrer"
>
  <slot />
</a>
