---
import '@fontsource-variable/onest';
import Header from '../components/Header/Header.astro';

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <!-- <div
      class="fixed inset-0 -z-10 h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(3,45,84,0.9),rgba(255,255,255,0.5))]"
    ></div> -->
    <div
      class="fixed inset-0 -z-10 h-screen w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_30%,#032d54_100%)]"
    >
    </div>
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    width: 100%;
    font-family: 'Onest Variable', system-ui, sans-serif;
    scroll-behavior: smooth;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  @media (prefers-reduced-motion: reduced) {
    html {
      scroll-behavior: auto;
    }
  }
  .skills-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    gap: 1rem;
  }
  .skills-grid-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .projects-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
  body.no-scroll {
    overflow: hidden;
  }
</style>
