---
import NavItem from '../Navbar/NavItem.astro';
---

<nav
  class="sm:flex md:flex-wrap flex-row hidden justify-center w-4/5 lg:w-2/3 opacity-90 text-center bg-slate-800 p-4 rounded-xl"
  id="navbar-default"
>
  <ul class="flex flex-row gap-x-5">
    <NavItem>Inicio</NavItem>
    <NavItem>Habilidades</NavItem>
    <NavItem>Proyectos</NavItem>
    <NavItem>Sobre mí</NavItem>
    <NavItem>Contacto</NavItem>
  </ul>
</nav>
