---
import NavItem from '../Navbar/NavItem.astro';
import CloseNavbarIcon from '../../../icons/header/CloseNavbar.astro';

const { id: navId } = Astro.props;
---

<nav
  id=`${navId}`
  class="hidden md:flex md:flex-wrap flex-row justify-center items-center w-4/5 lg:w-11/12 h-16 lg:h-auto opacity-95 text-center bg-slate-900 p-4 rounded-xl fixed md:relative md:px-5 transition-all duration-600"
>
  <ul
    class="flex flex-col justify-center md:flex-row md:relative gap-x-5 md:gap-x-0 gap-y-8 fixed top-0 w-full md:w-fit bg-inherit h-screen left-0 md:size-auto bg-slate-900 md:bg-transparent"
  >
    <button
      class="self-center flex items-center justify-center hover:bg-blue-600 rounded-md md:hidden"
      onclick="document.getElementById('navbar-default').classList.toggle('hidden');document.body.classList.remove('no-scroll')"
      ><CloseNavbarIcon class="text-slate-400/30" /></button
    >
    <NavItem href="#inicio">Inicio</NavItem>
    <NavItem href="#proyectos">Proyectos</NavItem>
    <NavItem href="#habilidades">Habilidades</NavItem>
    <NavItem href="#sobre-mí">Sobre mí</NavItem>
    <NavItem href="#contacto">Contacto</NavItem>
  </ul>
</nav>
