---
import NavItem from '../Navbar/NavItem.astro';
import CloseNavbarIcon from '../../../icons/header/CloseNavbar.astro';

const { id: navId } = Astro.props;
---

<nav
  id=`${navId}`
  class="hidden md:flex md:flex-wrap flex-row justify-center w-4/5 md:w-9/12 lg:w-full opacity-95 text-center bg-slate-900 p-4 rounded-xl fixed md:relative md:px-5"
>
  <ul
    class="flex flex-col justify-center md:flex-row md:relative gap-x-5 md:gap-x-0 gap-y-8 fixed top-0 w-full md:w-fit bg-inherit h-screen left-0 md:size-auto"
  >
    <button
      class="self-center flex items-center justify-center hover:bg-blue-600 rounded-md md:hidden"
      onclick="document.getElementById('navbar-default').classList.toggle('hidden');document.body.classList.remove('no-scroll')"
      ><CloseNavbarIcon class="text-slate-400/30" /></button
    >
    <NavItem>Inicio</NavItem>
    <NavItem>Habilidades</NavItem>
    <NavItem>Proyectos</NavItem>
    <NavItem>Sobre mí</NavItem>
    <NavItem>Contacto</NavItem>
  </ul>
</nav>
