<div
  class="mx-auto md:mx-auto mt-10 flex md:items-center flex-col-reverse lg:flex-row w-auto max-w-7xl gap-10 px-4 md:gap-12 xl:px-0 xl:w-11/12"
>
  <div
    class="flex flex-col [&>p]:text-lg [&>p]:text-gray-300 [&>p]:mb-2 [&>p]:md:mb-4 [&>p]:md:text-xl [&>p>span]:text-cyan-400"
  >
    <p>
      ¡Hola! Soy <strong class="text-gray-200">Victor Miñope Cielo</strong>, un
      aventurero en el mundo del
      <span>desarrollo web. </span>Desde pequeño, me fascinó el mundo de la
      tecnología, comenzando con la robótica, donde programé un auto de juguete
      semi-autónomo utilizando un software especializado.
    </p>
    <p>
      Mi objectivo principal es <span
        >aportar a la comunidad y crecer juntos compartiendo el conocimiento</span
      >
    </p>
    <p>
      Estoy siempre en busca de nuevos desafíos que me permitan aprender y
      mejorar. <span
        >Disfruto trabajando en equipo, compartiendo ideas y colaborando</span
      >
      en proyectos que generen impacto.
    </p>
  </div>
  <img
    class="rounded-xl rotate-3 size-36 md:size-56 flex justify-center items-center mx-auto md:block md:m-0"
    src="https://avatars.githubusercontent.com/u/110580299?v=4"
    alt="Victor Miñope"
  />
</div>
